/* 
Reset
*/
    /* Sélectionner toutes les balises */
    *{
        /* Supprimer toutes les marges */
        margin: 0;
        padding: 0;

        /* Intégrer les paddings et les bborders dans la taille des block */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Passer d'une basse 16 à une base 10 */
    html{
        font-size: 62.5%; /* 1rem = 10px */
    }

    body{
        font-size: 1.6rem; /* => 16px */
    }
/**/