*{
    box-sizing: border-box;
}

header, main, footer{
    max-width: 90rem;
    margin: auto;
    padding: 2rem;
}

a{
    color: inherit;
}

/* 
Common
*/
    .transitionAll{
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
/**/


/* 
Header
*/


    #navContent.displayed{
        left: 0;
    }

    #navContent, #burgerContent{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #burgerContent{
        text-align: center;
    }

    #navContent{
        position: fixed;
        z-index: 1000;
        left: -50vw;
        top: 0;
        height: 100vh;
        width: 50vw;
        background-color: #ff5851;
        padding: 5rem 5rem 5rem 13rem;
        color: white;
        opacity: 1;
    }

    #navContent ul, #burgerContent button{
        margin: auto;
        color: white;
        padding: 2rem;
    }

    #burgerContent button{
        color: #ff5851;
        background-color: transparent;
        border: none;
        font-size: 3rem;
    }

    #navContent ul{
        width: 100%;
        list-style: none;
        font-size: 4rem;
        font-weight: 900;
    }

    #burgerContent{
        background-color: white;
        z-index: 1001;
    }
/**/